data/features/
*.pth
*.pt
__pycache__/
*.pyc
.DS_Store
.env
outputs/
outputs/backend_jobs/*
outputs/video_detection_i3d/*
runs/
.vscode/
.Rhistory
**/.Rhistory
uploads/*
!uploads/.gitkeep
results/*
!results/.gitkeep
frontend/node_modules/
frontend/dist/
